<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Open Actions</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="JSON-LD Working Group" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="description" content="The mission of the JSON-LD Working Group is to update the JSON-LD 1.0 specifications to address specific usability or technical issues based on the community's experiences, implementer feedback, and requests for new features." />
    {% if page.json-ld %}
    <script type="application/ld+json">{{ page.json-ld }}</script>
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function cleanmd() {
            var as = document.getElementsByTagName('a');
            for (var i = 0; i < as.length; i++) {
                var a = as[i];
                var href = a.getAttribute("href");
                if (href) {
                    if (href.startsWith('id:')) {
                        /* yes, this is an id value in the markdown sense */
                        a.setAttribute("id",href.slice(3));
                        a.removeAttribute("href")
                    }
                }
            }
        }
        window.addEventListener('load',cleanmd);
    </script>
    <script type="text/javascript" src="http://localhost:8001/LocalData/github/scribejs/ActionView/view.js"></script>
    <style media="screen">
        dt {
            font-style: italic;
            font-weight: bold;
        }
        dt:after {
            content: ':'
        }
    </style>
</head>
<body>
    {% include header.html %}
    <main>
        {% include nav.html %}
        <section id='content'>
            {{ content }}
            <br>
            <section id=actions data-actions='../assets/actions.json'>
            </section>
        </section>
    </main>
    {% include footer.html %}
</body>
</html>
